#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=GDOX
Comment=Insert an Xbox or Xbox 360 disc and play it
Exec=gdox
Icon=gdox
StartupWMClass=gdox
Terminal=false
Categories=Game;Emulator;
Keywords=Xbox;disc;xemu;emulator;
